@import url("https://fonts.cdnfonts.com/css/valorant");

.valorant {
  height: calc(100vh - 2.5rem);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url("/valorant_background2.jpg");
  background-size: cover;
  background-position: center;
  padding: 1.5rem 2.5rem;
}
