@import url("https://fonts.cdnfonts.com/css/valorant");

.agent {
  width: 600px;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;

  background: rgba(23, 23, 23, 0.505);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 20px;
  border: 1px solid rgba(119, 1, 1, 0.3);
  box-shadow: 0 0 50px 15px #5f010152;
}

.agent img {
  /* width: 40vw;
  height: 60vh; */
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.agent h1 {
  font-family: "VALORANT", sans-serif;
  font-size: 4rem;
}
