@import url("https://fonts.cdnfonts.com/css/bonvenocf");

.button {
  width: 150px;
  height: 200px;
  font-family: "Bonveno", sans-serif;
  color: #ecf0f1;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.498);
  border-color: #ecf0f1;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}
