.champion {
  width: 600px;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
  background: rgba(23, 23, 23, 0.505);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(31, 22, 161, 0.3);
  box-shadow: 0 0 50px 15px #0432b182;
  transition: opacity 0.4 ease-in-out 0.3ms;
}

.champion h1 {
  font-family: "Bellefaire", serif;
  font-size: 2.5rem;
  max-width: 100%;
  color: rgba(255, 255, 255, 0.77); /* Semi-transparent white text */
  backdrop-filter: blur(5px); /* Apply a blur effect to the background */
  /* Optional: Add text-shadow for depth */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(201, 201, 201, 0.448);
  border-radius: 8px;
  position: relative;
  top: 5%;
  padding: 10px;
}
