.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav a:link,
.nav a:visited {
  transition: ease-in-out 0.75s;
  text-decoration: none;
  color: #ecf0f1;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 5px;
}

.nav a:hover {
  transition: ease-in-out 0.75s;
}

/* CSS Modules feature */
.nav a:global(.active) {
  border-color: #bdc3c7;
  border-width: 2px;
  padding: 5px;
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}
